<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p>© 2020 El sitio del profe Barrón.</p><i class="fab fa-twitter"></i>
    <a class="twitter-follow-button" target="_blank" href="https://twitter.com/gabrielbarronro" data-size="large">
        Sigueme @gabrielbarronro</a>
    <a class="twitter-follow-button" href="https://twitter.com/TwitterDev">
      Follow @TwitterDev</a>
</footer>