<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <div class="container" id="main">
        <div class="container-fluid" id='menu'>
            <%- include('partials/navbar'); %>
        </div>
        <div id="contenido">
        </div>
        <div id="footer">
            <%- include('partials/footer'); %>

        </div>
    </div>
    <%- include('partials/script'); %>
</body>

</html>